extends ../_common/base.jade
include ../_common/mixins.jade

block title
  title Kitchen Week - Week Summary

block content

  - var headings = [];
  - headings.push('Time to pass the torch')
  - headings.push('The end of a great era')

  +header(headings)

  +row
    br
    h4 Dear #[+firstNames(thisWeek.names)]!
    | The work week has come to an end, which means that you are hereby relieved of your duties as kitchen heroes.

  +row
    | This is a summary of all the praise you have received during this week:

  +results(images, thisWeek.feedback)

  +row
    - var goodJob = thisWeek.feedback[0].total + thisWeek.feedback[1].total;
    - var arr = [];
    - arr.push("You guys will surely go down in history as some of greatest kitchen heroes ever!")
    - arr.push("Your heroic achievements will be talked about in weeks to come!")
    - arr.push("Guess what you would find if you look up 'kitchen hero' in the dictionary? Thats right, you guys!")
    - arr.push("If there was a kitchen hero mountain your faces would no doubt be carved in to it!")

    | #[+score(thisWeek.feedback)].
    if goodJob
      | Wow! Just wow! #[+sample(arr)]

  - highscore.length = highscore.length > 5 ? 5 : highscore.length;
  - var hasHighscore = highscore.length > 0;

  if hasHighscore
    +row('highscore')
      h4 This years top #{highscore.length} highscore
        each score, index in highscore
          p #[+highscorePosition(index)] #[+truncatedNames(score.names)] <strong>#{score.score}p</strong> <i>w. #{score.week}</i> #[+top5(score.week === thisWeek.week)]

  +row
    | Have a great weekend!

  +footer()
