extends layout
include ../lib/mail/templates/_common/mixins.jade

block content

  div#app

    header
      h1 Kitchen heroes

    .people-in-charge
      h1 #[+fullNames(thisWeek.names)]

    .feedback-wrapper

      img.arrow-left(src="/img/arrow2.png")
      - var arr = ['fabulous', 'stunning', 'sensational', 'awesome', 'amazing'];
      h3 Kitchen looking #[+sample(arr)]? <br/>
        | Give some praise to #[+firstNames(thisWeek.names)]
      img.arrow-right(src="/img/arrow1.png")
      br

      +feedbackButton(0, feedbackTypes, images)
      +feedbackButton(1, feedbackTypes, images)

  footer
    p.nextWeek Next week: #{nextWeek.names[0]} & #{nextWeek.names[1]}
    p Something's broken? Please talk to Simon (the tall one)
