doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/css/style.css')
  body
    block content

    block js
      //- script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
      //- script(src="https://cdnjs.cloudflare.com/ajax/libs/Ladda/0.9.8/spin.min.js")
      //- script(src="https://cdnjs.cloudflare.com/ajax/libs/Ladda/0.9.8/ladda.min.js")
      //- script(src="https://cdnjs.cloudflare.com/ajax/libs/Ladda/0.9.8/ladda.jquery.min.js")
      //- script(src="js/spin.js")
      //- script(src="js/classie.js")
      //- script(src="js/index.js")
      script(src="/js/bundle.js")

      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
