
// @import 'ladda';
// @import 'coderops';
@import 'variables';
@import url(https://fonts.googleapis.com/css?family=Montserrat:400);

* {
  margin: 0;
  padding: 0;
}

body {
  padding: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
  background: $primary-color;
  color: white;
}

.wrapper {
  width: 100%;
  height: 100%;
  margin-top: 10%;
}

h1 {
  font-size: 400%;
  color: $primary-dark-color;
  margin-bottom: 20px;
  font-weight: bold;
}

h2 {
  font-size: 300%;
  margin-bottom: 20px;
}

h3 {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 25px;
}

.thisWeek {
  position: relative;
}

.nextWeek {
  margin-top: 40px;
  color: white;
  text-align: left;
  margin-bottom: 5px;
}

.otherInfo {
  display: block;
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 20px;
  color: $primary-dark-color
}


button {
  margin: 20px;
  .ladda-label {
    font-size: 5.5em !important;
  }
  &.btn-2 {
    width: 150px;
    height: 150px;
    font-size: 100px;
    line-height: 170px;
  }

  &.good {
    background: $green-color;
  }

  .overlay {
    &.active {
      opacity: 0.3;
    }
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }
}
