doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')

  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')

    block title
      title Kitchen Week

  body(itemscope='', itemtype='http://schema.org/EmailMessage')
    table.body-wrap
      tr
        td.container
          .content
            table.main(width='100%', cellpadding='0', cellspacing='0')
              tr
                td.content-wrap
                  meta(itemprop='name')
                  table(width='100%', cellpadding='0', cellspacing='0')
                    block content
