doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    block title
      title Kitchen Week
  body(itemscope='', itemtype='http://schema.org/EmailMessage')
    h1 Week #{thisWeek.week}
    block content
