tr
  td(colspan="2").footer
    p Can't have kitchen week? Mail looks strange? Have improvement ideas?
    p Talk to <a href="mailto:simon.johansson@screeninteraction.com">simon.johansson@screeninteraction.com</a>
