tr
  td(colspan="2").footer
    p Not able to have kitchen week this week? Mail looks strange? Have improvement ideas?
      | Talk to <a href="mailto:simon.johansson@screeninteraction.com">simon.johansson@screeninteraction.com</a>
