extends ../_common/base.jade
include ../_common/mixins.jade

block title
  title Kitchen Week - Status update

block content

  +header

  +row
    br
    h4 Hi #[+firstNames(thisWeek.names)]!
    | This is the feedback you guys have received so far today:

  +results(images, thisWeek.feedback)

  +row
    - var goodJob = thisWeek.feedback[0].total + thisWeek.feedback[1].total;
    - var arr = [];
    - arr.push("Nice going! Keep up the good work for tomorrow as well.");
    - arr.push("Awesome, you got some praise! Let's keep it coming tomorrow as well");
    - arr.push("Bathe in the glory of your praise! ");
    - arr.push("Praise equals raise! Not really... But keep up the good work for tomorrow as well.");

    if goodJob
      | #[+sample(arr)]

  +footer()
